html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	color: darkslategray;
	font-size: 18px;
	background-color: white;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	
}

a {
	text-decoration: none;
}




#header{
	
	background: white;
	padding: 40px;
	margin: 20px;
	margin-bottom: 65px;
}

#header  ol{
	float: left;
	color: green;
	line-height: 33px;

}

#header  ol > li > a {
	text-decoration: none;
	color: green;
	font-size:30px;
	font-family: 'Playfair Display', serif;
	
}



#header  ul{
	float: right;
	
}

#header ul li{
	float: left;
	line-height: 33px;
}


#header ul li a{
	border-radius: 3px;
	padding: 10px 20px;
	border: 1px solid white;
	color: green;
}

#header ul li a:hover{
	border: 1px solid green;
	color: white;
	background-color:green;
}

.selected-menu-item{
	
	text-decoration: underline;
	
}

#section1{
	background-image: url("../images/img1.jpg")/*Photo by Maja Kochanowska on Unsplash*/;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
   	padding: 200px 0 250px 0;
	color: white;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 46px;
}

#section2{
	line-height: 2.5em;
	text-align: center;
	display: inline;
	padding: 40px;
	
	
}

#section2 > h2{
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 60px;
	padding-top: 60px;
}


.flex-container{
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: trasparent;
    flex-direction: row;
	margin: 0 60px 0 60px;
	
 
}

.flex-container > div{
	width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
	
}

.flex-container > div > a{
	border: 1px solid green;
	color: white;
	background-color:green;
	border-radius: 3px;
	padding: 5px;
	
}

.team{
	overflow: auto;
	clear: center;
	height: 500px;
	
	
}



#section3{
	background-color: green;
	color: white;
	padding: 80px 40px 80px 40px;
	font-size: 25px;
	
}

#footer{
	
	
	background-color: DarkGrey;
}

.flex-container2{
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	padding: 10px;
}
.flex-container2 > div{
	width: 15%;
	justify-content: center;
	align-items: center;
}

 .flex-container2 > div > a{
	text-decoration: none;
	color:  darkslategray;
 }

.flex-container3{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: trasparent;
	flex-direction: row;
	margin: 0 0 0 700px;  
}
	
.flex-container3 > div{
	
	padding: 10px;
	margin: 10px;
	justify-content: center;
	align-items: center;
	
}
 .flex-container3 > div > a{
	text-decoration: none;
	color:  darkslategray;
 }
 
.flex-container4{
	font-size: 12px;
	color: darkslategray;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	background-color: trasparent;
	flex-direction: row;
	padding: 10px 40px 10px 10px;
	
 }
 
.flex-container4 > div{
	width: 100%;
}

.gallery{
	height: 480px;
	border: 10px solid white;
	width: 100%;
	padding: 30px;
	text-decoration: none;
	
}

.gallery-item{
	width: 33%;
	height: 400px;
	text-decoration: none;
}


#product{
	background-image: url("../images/img7.jpg")/*Photo by Kamil Pietrzak on Unsplash*/;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
   	padding: 200px 0 250px 60px;
	color: white;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 46px;
	text-align: start;
}

.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px;
  grid-gap: 1em;
  grid-template-areas: 
    "a a a a b b b b c c c c"
    "a a a a b b b b c c c c"
    "d d d d e e e e f f f f"
    "d d d d e e e e f f f f";
  padding: 50px 170px 0 170px;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: start;
}


 .item1 {
  position: relative;
  text-align: center;
  grid-area: a;
}

.item2 {
  position: relative;
  text-align: center;
  grid-area: d;
}

.item2 > h2{
	font-size: 22px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	margin-bottom: 20px;
}

.item2 > p{
	text-align: justify;
    text-align-last: left;
	padding: 20px;
	line-height: 1.0em;
	margin-bottom: 34px;
}

.item2 > a{
	border: 1px solid green;
	color: white;
	background-color:green;
	border-radius: 3px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.item3 {
  position: relative;
  text-align: center;
  
  grid-area: b;
}

.item4 {
  position: relative;
  text-align: center;
  
  grid-area: e;
}

.item4 > h2{
	font-size: 22px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	margin-bottom: 20px;
}

.item4 > p{
	text-align: justify;
    text-align-last: left;
	padding: 20px;
	line-height: 1.0em;
}

.item4 > a{
	border: 1px solid green;
	color: white;
	background-color:green;
	border-radius: 3px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;

}

.item5 {
  position: relative;
  text-align: center;
 
  grid-area: c;
}

.item6 {
  position: relative;
  text-align: center;
  grid-area: f;
}

.item6 > h2{
	font-size: 22px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	margin-bottom: 20px;
}

.item6 > p{
	text-align: justify;
    text-align-last: left;
	padding: 20px;
	line-height: 1.0em;
	margin-bottom: 73px;
}

.item6 > a{
	border: 1px solid green;
	color: white;
	background-color:green;
	border-radius: 3px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.reviews{
	width: 100%;
	height: 370px;
	background-color: green;
	margin-top: 80px;
	margin-bottom: 80px;
	
}

.square{
	display: inline-block;
	background-color: white;
	margin: 50px 40px 10px 40px;
	border: 10px solid white;
	border-radius: 5px;
	
}

.square > h2{ 
	color: green;
	font-size: 22px;
	margin-top: 30px;
	text-align: center-right;
	padding: 20px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
}

.square > p{ 
	background-color: white;
	text-align: justify;
    text-align-last: center;
	padding: 20px;
	line-height: 1.5em;
}

.user {
  display: inline-block;
  float: left;
  width: 150px;
  height:150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
}

#elderly{
	background-image: url("../images/img15.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
   	padding: 200px 0 250px 60px;
	color: white;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 46px;
	text-align: start;
}

.iframe-map {
	width: 100%;
	height: 600px;
}
#contact{
	background-image: url("../images/img16.jpg")/*Photo by Alec Bennett on Unsplash*/;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
   	padding: 200px 0 250px 60px;
	color: white;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 46px;
	text-align: start;
	margin-bottom: 30px;
}

.follow{
	width: 100%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: green;
	flex-direction: row;
	height: 200px;
	margin-top: 40px;
	margin-bottom: 40px;
	
}

.follow > h2{
	margin: 40px;
	font-weight: bold;
	font-size: 24px;
}

.flex-container5 {
	display: flex;
	flex-direction: row;
}

.flex-container5 > div{
	padding: 10px;
	margin: 10px;
	justify-content: center;
	align-items: center;
	border: 2px solid white;
	border-radius: 100%;
	font-weight: bold;
	text-decoration: none;
}



.flex-container5 > div > a{
	text-decoration: none;
	color: white;
}

.contactus{
	width: 100%;
	height: 800px;
	background-color: green;
	padding-top: 4px;
	text-align: left;
	margin-bottom: 40px;
	
	
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  display: inblock-elements;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px;
  margin: 100px;
}

#about{
	background-image: url("../images/img17.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
   	padding: 200px 0 250px 60px;
	color: white;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 46px;
	text-align: center;
}

.flex-container6{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: trasparent;
	flex-direction: row;
	margin: 10px 0 30px 0 ;
	padding: 10px 0 10px 0;
	text-decoration: none;
	color: darkslategray;
}

#members > h2{
	margin: 40px;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
}

.flex-container6 > div{
	width: 18%;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: darkslategray;
 }

.flex-container6 div > img{
	border: 1px solid transparent;
	border-radius: 50%;
	
}